.home {
  height: 100%;
  width: 100%;
  // background-color: aqua;
  background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0.4),
      rgba(255, 0, 0, 0.4)
    ),
    url("../../images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  .circle-holder {
    width: 500px;
    height: 500px;
    // background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 50px;

    .little-circle {
      width: 150px;
      height: 150px;
      background-color: #fcbcb8;
      border-radius: 150px;
      margin-left: 280px;
      margin-bottom: 330px;
      position: absolute;

      p {
        margin: auto;
        margin-top: 55px;
        width: 90px;
        // background-color: red;
        vertical-align: middle;
        font-family: "lato";
        font-size: 10px;
        text-align: center;
        font-style: italic;
      }
    }
    .big-circle {
      width: 330px;
      height: 330px;
      background-color: #ffd972;
      border-radius: 50%;
      margin-bottom: 40px;
      z-index: 0;
      text-align: center;
      h1 {
        // background-color: blue;
        margin: auto;
        margin-top: 50px;
        line-height: 100px;
        vertical-align: middle;
        font-family: "Caveat";
        font-size: 24px;
        text-align: center;
      }
      p {
        width: 150px;
        height: 80px;
        margin: auto;
        vertical-align: middle;
        font-family: "lato";
        font-size: 13px;
        text-align: center;
      }
    }
  }
}

@media all and (min-width: 700px) and(max-width: 768px) {
  .home {
    .circle-holder {
      .little-circle {
        margin-left: 200px;
        margin-top: -60px;
      }
    }
  }
}
