.logoContainer {
  position: fixed;
  float: right;
  top: 30px;
  left: 50px;

  width: 217px;
  height: 55px;
  //   background-color: gray;

  display: flex;
  align-items: center;
  justify-content: center;

  .circle1 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    margin-right: 180px;
    margin-bottom: 20px;
    background-color: #c7eae4;
  }
  .circle2 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    margin-right: 130px;
    margin-top: 10px;
    background-color: #ffd972;
  }
  .circle3 {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    position: absolute;
    margin-right: 50px;
    // margin-bottom: 20px;
    background-color: #a7e8bd;
  }

  .circle4 {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    margin-left: 75px;
    margin-top: 10px;
    background-color: #efa7a7;
  }
  .title {
    width: 200px;
    position: absolute;
    // background-color: red;
    font-family: "Caveat";
    font-size: 30px;
    z-index: 1000;
    margin-right: 3px;
  }
}
